main {
  background: url("../img/Lines.png") 50% 135px no-repeat, #e8e8e8; 
}

.container {
  max-width: 841px;
  margin: 0 auto;  
  }

.title {
  opacity: 0.6;
  font-family: ArialMT;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #273d46;
  padding-top: 168px;
  text-align: center;
}

.subtitle {
  font-family: TimesNewPSMT;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  color: #273d46;
  text-align: center;
  width: 721px;
  margin: 28px auto;
}

.picter {
  box-shadow: 7px 13px 65px 0px rgba(15,15,16,0.15);
  width: 821px;
  height: 541px;
  background-color: white;
  background-image: url("../img/light_man_copy_26.png");
  border: 7px solid white;
  margin-top: 87 px;
}

.text {
  width: 736px;
  opacity: 0.8;
  font-family: TimesNewPSMT;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  color: #273d46;
  margin: 107px auto
  
}

.list {
  margin-top: 64px;
  padding-left: 85px;
  list-style-image: url("../img/check_icon.png");
}

.item_1 {
  text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
  font-family: ArialMT;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  color: #273d46;
}

.item_2 {
  font-family: ArialMT;
  line-height: 36px;
  font-size: 20px;
  font-weight: 400;
  color: #80b7b3;
}

.item_3 {
  font-family: ArialMT;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  color: #273d46;
}

.item_4 {
  opacity: 0.3;
  font-family: ArialMT;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-decoration: line-through;
  color: #273d46;
}

.btn a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: ArialMT;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  padding-left: 45px;
}

.btn {
  width: 199px;
  height: 44px;
  border-radius: 25px;
  margin-left: 55px;
  margin-top: 29px;
  background: url("../img/shape.png") 165px 13px  no-repeat, url("../img/rectangle.png") center no-repeat;
  box-shadow: none;
  box-shadow: 0px 6px 40px #80B7B38A;
  opacity: 1;
  opacity: 0.8;    
}

.buben {
  padding-top: 154px;
}